@model EnderecoModel
<div class="text-left">

    <div>

        <h1>Dados dos Professores</h1>
    </div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Idade</th>
      <th scope="col">Contato</th>
      <th scope="col">Cep</th>
    </tr>
  </thead>


  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>Katia Schmitt Pollheim</td>
      <td>katiaschimittp@gmail.com</td>
      <td>28</td>
      <td>47 991774897</td>
      <td></td>
      <td>83350-665</td>
      <td><a class="btn btn-dark" type="button" asp-controller="Aluno" asp-action="Endereco" asp-route-cep="88350-665">Endereço</a></td>
    </tr>  
    
  </tbody>
  
</table>

<div class="text-center">
    <button type="button" class="btn btn-dark">Adicionar Novo Professor</button>
</div>


</div>