<div class="text-left">

    <div>

        <h1>Conhecimentos Adquiridos</h1>
    </div>
    <div>
        <a href="https://parallelum.com.br/fipe/api/v1/carros/marcas" class="link-dark">API tabela fipe</a>
        </div>
        <div>
        <a href="https://console.hgbrasil.com/documentation/weather" class="link-dark">API de previsão do tempo</a>
        </div>
    </div>