<div class="text-left">

    <div>

        <h1>Conhecimentos Adquiridos</h1>
    </div>
    <div>
        <p>Aspnet MVC</p>
        <p>Mocagem de dados</p>
        <p>Conexão com banco SQL</p>
        <p>Chamada de api externa</p>
    </div>