@{
    ViewData["Inicio"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Bem Vindo</h1>
    <p>Sobre o curso:</p>
    <p>O PROGRAMA de capacitação tecnológica para formação de jovens denominado JOVEM PROGRAMADOR, 
        tem como missão a capacitação tecnológica para formação de jovens programadores para atuação principalmente 
        em empresas do Estado de Santa Catarina, independentemente do local onde estejam instaladas. </p>
        <div class="d-grid gap-2 d-md-block">
</div>
</div>
