<head>Informações</head>
<body class="text-center">
    <h1>Informações</h1>
    <p>Data de inicio do Curso: 01/07/2021</p>
    <p>Data de termino: 01/07/2022</p>
    <p>Coordenador: Junior Cunha</p>
    <p>Senac-Brusque</p>
    <p>Rua Manoel Borges 186, Porto Grande, Araquari</p>
    <p>(48)98440-6456</p>


</body>